nix-shell-root
inst/logs/
inst/extdata/archive/
.Rproj.user
.DS_Store
default.nix.bak
default.nix.bak2
default.nix.dup
vignettes/data/
vignettes/dashboard_shinylive.html
vignettes/dashboard_shinylive_files/
vignettes/shinylive-sw.js
vignettes/shinylive/
vignettes/_extensions/
